doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Project White Elephant Clothing')
    title Project White Elephant
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(type='text/css', rel='stylesheet', href='./main.css')
    //-script(src='./main.js')
  body
    .header
      .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href="/") Project White Elephant
        ul
          li
            a(href="#about") About

    .splash-container
      .splash
        h1.splash-head Project White Elephant
        p.splash-subhead Spring / Summer 2015
        p.splash-subhead.u-pushup
          a(href="#about")
            i.fa.fa-2x.fa-angle-down

    .content-wrapper#about
      .ribbon.l-box-lrg.pure-g
        .pure-u-1
          h2.is-center ABOUT
          p.
            PROJECT WHITE ELEPHANT IS AN APPAREL COMPANY THAT DESIGNS WITH BEAUTIFUL CLEANS
            LINES AND INFUSES THEM WITH THE REVERIES OFFERED BY ITS COLLABORATORS.
          p.
            THE PURPOSE OF PWE IS TO UNITE LOCAL ART ENTREPRENEURS AND UTILIZE IT’S MEDIUM OF
            FASHION AS A CATALYST TO SUPPORT AND EXPAND THE LOCAL ART COMMUNITY.
            BY DEFINITION, A WHITE ELEPHANT IS A POSSESSION THAT IS USELESS OR TROUBLESOME,
            ESPECIALLY ONE THAT IS EXPENSIVE TO MAINTAIN OR DIFFICULT TO DISPOSE OF. THIS STEROYTPE
            IS OFTEN APPLIED TO ARTISTS WHO HAVE TALENT, BUT DO NOT HAVE THE MEANS OF EXPOSURE OR
            INCOME TO SUPPORT THEIR ART.
            AS ARTISTS, WE CREATE; WE PRODUCE PHYSICAL PRODUCTS THAT WERE ONLY MERE DREAMS AND
            IDEAS.
          p.
            PROJECT WHITE ELEPHANT IS COMPOSED OF TWO COMPONENTS: ONE BEING IT’S BIANNUAL
            COLLECTIONS (SPRING/ SUMMER AND FALL/ WINTER) THAT FUNDS THE MAJORITY OF THE COMPANY.
            THE SECOND IS A CAPSULE COLLECTION THAT IS SYNTHESIZED WITH EACH SEASON’S
            COLLABORATOR.

      .ribbon.l-box-lrg.pure-g
        .pure-u-1
          h2.is-center Coming 2015

      .footer.l-box
        | © 2014 Project White Elephant
