.splash-container
  background-image url(images/landing-bg.jpg)
  background-position center
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  background-color $bg-gray
  height 100%

.content-wrapper,
.ribbon
  top 100%
  background-color $bg-color-trans

.footer
  background-color $bg-color-trans
