html
  font-family 'Source Sans Pro', sans-serif

.splash-container
  background-image url(images/landing-bg-mobile.jpg)
  background-position center
  background-repeat no-repeat
  //background-attachment fixed
  background-size cover
  background-color $bg-color-trans40
  height 100%

  @media screen and (min-width: 48em)
    background-image url(images/landing-bg-desktop.jpg)

.content-wrapper,
.ribbon
  top 100%
  background-color $bg-color-trans40

.footer
  background-color $bg-color-trans40

.splash-head
  border none
  margin 0

.home-menu.pure-menu-open
  background-color $bg-color-trans40
  box-shadow 0 2px 5px rgba(0,0,0,0.26)
  a
    color $white
    &:focus
      color $gray
